<html>

    <head>
        <link rel="stylesheet" href="/css/nav.css">
    </head>
    <body>
        <nav>
               <a href="/" <div class='logo'>
                    <h1>Bodhi Journey</h1>
                </div>
                </a>
                <span class='toggler'><img
                    width='30'
                    height='30'
                    src='https://img.icons8.com/ios-glyphs/30/000000/toggle-on--v2.png'
                    /></span>
                <div class='list-container menu-slide-out'>
                    <ul>
                    <li> <a href="/">Home  </a></li>
                    <li>Articles</li>
                    <li>Practical Guides</li>
                    <li>About</li>
                    <li>Podcast</li>
                    <li id="categories">
                        Categories
                        <ul class="categories-list">
                            <li><a href="/category/Religion">Religion</a></li>
                            <li><a href="/category/Health and Wellbeing">Health and Wellbeing</a></li>
                            <li><a href="/category/Meditation">Meditation</a></li>
                            <li><a href="/category/Metaphysics">Metaphysics</a></li>
                        </ul>
                    </li>
                    </ul>
                    <span class='close-mobile-menu'>
                        <h6 style="color:black;">X</h6>
                        {{!-- <img
                        width='30'
                        height='30'
                        src='/images/remove-button.png'
                        alt=''
                    /> --}}
                    
                    </span>
                </div>
            </nav>

            <script src="/js/nav.js">

            </script>
    </body>

</html>